<ion-header class="transparent-header" [translucent]="true">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="downloadDocument()" title="Baixar Documento">
        <ion-icon name="download"></ion-icon>
      </ion-button>
      <!-- Botão para remover o documento -->
      <ion-button (click)="removeDocument()" color="danger">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>

      <!-- Botão para fechar o modal -->
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (documentUrl) {
<pdf-viewer
  [src]="documentUrl"
  [render-text]="true"
  [original-size]="originalSize"
  [zoom]="zoom"
  [autoresize]="true"
  class="pdf-viewer-container"
>
</pdf-viewer>
} @else {
<div class="error-message ion-padding">
  <ion-icon name="alert-circle-outline" size="large"></ion-icon>
  <p>
    Não foi possível carregar a pré-visualização do documento. Tente abrir o
    arquivo em outro aplicativo.
  </p>
</div>
}
