@if (form) {
<form [formGroup]="form">
  <ion-grid class="my-grid">
    <ion-col size-lg="12" size-lg="6"></ion-col>
    <ion-row>
      <!-- loop com os campos enviados na configuracao do formulario -->
      @for (field of formConfigFields; track field.name) {
      <!-- COLUNA CONTAINER -->
      <ion-col
        [ngStyle]="{
          '--padding-start': '0px',
          '--padding-end': '0px'
        }"
        [attr.size-lg]="field.size ?? 12"
        [attr.size-xs]="field.mobileSize ?? 12"
        [hidden]="field.hidden || form.controls[field.name]?.disabled"
      >
        <!-- DIVIDER -->
        @if (field.typeFieldForm === eFieldDynamicForm.DIVIDER) {
        <ion-item-divider
          [ngStyle]="{
            width: '100%',
            'margin-bottom': field.marginBottom || '1px'
          }"
          [style.--padding-start]="
            field.paddingStart ? field.paddingStart : '1.2rem'
          "
          [style.border]="
            field.border === 'full'
              ? '1px solid var(--ion-color-primary)'
              : null
          "
          [style.border-color]="
            field.border === 'none'
              ? 'transparent'
              : field.borderColor
              ? field.borderColor
              : 'var(--ion-color-primary)'
          "
          [styck]="field.itemDividerStick"
          [style.borderRadius]="field.borderRadius"
          [style.background]="field.backgroundItem"
        >
          <!-- caso queira exibir o titulo se nao enviar fica uma linha apenas ou um quadrado dependendo da config do item divider -->
          @if(field.labelItemTop){
          <!-- label do item-divider -->
          <ion-label
            [ngStyle]="{
              width: '100%',
              display: 'block',
              'padding-top': '10px',
              'padding-bottom': '10px'
            }"
            [style.text-align]="field.textAlign ?? 'left'"
            [style.color]="field.color ?? 'var(--ion-color-primary)'"
            [style.font-weight]="field.fontWeight ?? '600'"
            [style.font-size]="field.fontSize ?? '1.1rem'"
            >{{ field.labelItemTop }}</ion-label
          >
          }
          <!-- fim do label -->
        </ion-item-divider>
        }
        <!-- FIM if divider -->

        <!-- popover para exibir mensagem quando clicas no icone de ajuda se for enviado o help -->
        @if (field.help) {
        <ion-popover
          [trigger]="'help-icon-' + field.name"
          trigger-action="click"
          size="auto"
        >
          <ion-content class="ion-padding">
            <p style="white-space: pre-line">{{ field.help }}</p>
          </ion-content>
        </ion-popover>
        }

        <!-- CAMPOS DE FORMULÁRIO -->
        @if (field.typeFieldForm !== eFieldDynamicForm.DIVIDER) {

        <!-- item que envolve os campos -->
        <ion-item
          class="itemMainForm"
          [style.width]="'100%'"
          [class.itemWithScroll]="
            field.typeFieldForm === eFieldDynamicForm.VIDEOIMAGEORDOCUMENTS
          "
          [class.itemWithBorder]="
            field.labelPlacement ||
            field.borderRadius ||
            field.typeFieldForm === eFieldDynamicForm.DATE
          "
          [detail]="field.ionItemDetail"
          [lines]="field.ionItemNoneLines"
        >
          <!-- LABEL (exceto para alguns tipos) aparece sobre os inputs, não é o interno do input e sim um proprio ou lado etc-->
          @if (field.labelItemTop && field.typeFieldForm !==
          eFieldDynamicForm.CHECKBOX && field.typeFieldForm !==
          eFieldDynamicForm.SWITCH && field.typeFieldForm !==
          eFieldDynamicForm.SELECT) {
          <!--  -->
          <ion-label
            position="stacked"
            [ngStyle]="{
              width: '100%',
              display: 'block',
              'padding-right': '0'
            }"
            [class]="'ion-text-' + (field.textAlign ?? 'left')"
            [style.color]="field.color ?? 'var(--ion-color-primary)'"
            [style.padding-left]="field.paddingLeft || '20px'"
            [style.margin-bottom]="field.marginBottom ?? '0.5rem'"
            [style.font-size]="field.fontSize || '16px'"
          >
            {{ field.labelItemTop }}
            <!-- campo help -->
            @if (field.help) {
            <ion-icon
              id="help-icon-{{ field.name }}"
              [name]="field.iconName || 'information-circle'"
              [attr.title]="field.help"
              [style.margin-left]="field.iconMarginLeft || '0.25rem'"
              [style.font-size]="field.iconFontSize || '13px'"
              [style.color]="field.iconColor || 'var(--ion-color-primary)'"
            ></ion-icon>
            }

            <!-- * para indicar campo necessário -->
            @if (!(form.controls[field.name] | formValidatorRequired | async) &&
            field.asteristicRequiredLabelItem) {
            <span
              [style.margin-left]="'3px'"
              [style.color]="
                field.asteristicRequiredColorLabelItem ||
                'var(--ion-color-primary)'
              "
              >*</span
            >
            }
          </ion-label>
          }

          <!-- INPUT https://ionicframework.com/docs/api/input-->
          @if ((field.typeFieldForm === eFieldDynamicForm.INPUT)||
          field.typeFieldForm === eFieldDynamicForm.DATE || field.typeFieldForm
          === eFieldDynamicForm.TIME || field.typeFieldForm ===
          eFieldDynamicForm.DATE_TIME) {

          <!-- VERIFICA SE O INPUT VAI SER TIPO DATE -->
          @let isDateOrTimeInput = field.typeFieldForm !==
          eFieldDynamicForm.INPUT;

          <!-- AQUI PARA VER O TIPO DE DADOS QUE O MODAL VAI APRESENTAR DATA , HORA, HRA E DATA -->
          @let typeDataShowModalDate = isDateOrTimeInput ?
          getPresentationDateType(field.typeFieldForm) : undefined;

          <!-- AKI O FORMATO QUE VAI SER EXIBIDO NO INPUT DEPOIS DE SELECIONADO -->
          @let formatValueWhenDate = isDateOrTimeInput ?
          getFormatDateValue(field.typeFieldForm) : undefined;

          <!-- variaveis usada na logica dos if -->
          @let isPasswordField = field.eInputModeField ===
          eInputModeField.PASSWORD ? true : false;

          <!--  -->
          @let typeInput = field.showPasswordIcon ? eInputModeField.TEXT :
          field.eInputModeField;

          <!--  -->
          @let labelPlacementLogic = (field.fill && isPasswordField) ? 'stacked'
          : field.labelPlacement;

          <!--  -->
          @let paddingStart = field.paddingStart ? field.paddingStart :
          field.borderRadius ? field.borderRadius : '0.9rem';

          <!--  -->
          @let dynamicIconName = (isPasswordField || field.iconName) &&
          ((!isPasswordField && field.iconName) ? field.iconName :
          (isPasswordField && field.showPasswordIcon) ? 'eye-off' : 'eye');

          <!--  -->
          @let boderColorInput = field.boderColorInput ||
          'var(--ion-color-primary)';

          <!--  -->
          @let boderWidthInput = field.boderWidthInput || '1px';

          <!--  -->
          @let colorLabelPlaceholderAndTextInput =
          field.colorLabelPlaceholderAndTextInput || 'var(--ion-color-primary)';

          <!-- tags -->
          <ion-row [style.width]="'100%'">
            <ion-input
              mode="md"
              [autofocus]="field.autofocus"
              [formControlName]="field.name"
              [appInputMask]="field.mask"
              [type]="typeInput"
              [inputmode]="isDateOrTimeInput ? 'text' : field.eInputModeField"
              [readonly]="isDateOrTimeInput ? true : field.readonlyInput"
              [placeholder]="field.placeholder"
              [maxlength]="field.maxLengthInput || 1000"
              [minlength]="field.minLengthInput || 0"
              [fill]="field.fill"
              [label]="field.inputLabel"
              [attr.label-placement]="labelPlacementLogic"
              [style.--border-radius]="field.borderRadius"
              [style.--padding-start]="paddingStart"
              [style.--background]="field.backgroundInput"
              [style.--border-color]="boderColorInput"
              [style.--border-width]="boderWidthInput"
              [style.margin-top]="field.marginTop || '15px'"
              (ionInput)="
                field.onChange && field.onChange($event.detail.value, form)
              "
              [style.--color]="colorLabelPlaceholderAndTextInput"
              [value]="
                isDateOrTimeInput
                  ? (form.controls[field.name]?.value
                    | date : formatValueWhenDate)
                  : undefined
              "
            >
              @if (!(form.controls[field.name] | formValidatorRequired | async)
              && field.asteristicRequiredInput) {
              <span
                [slot]="field.asteristicRequiredSlotInput || 'end'"
                [style.margin-right]="'10px'"
                [style.color]="
                  field.asteristicRequiredColorInput ||
                  'var(--ion-color-primary)'
                "
                >*</span
              >
              }

              <!-- caso seja date ou time o botao no final para chamar o modas com o calendario -->
              @if(isDateOrTimeInput){
              <ion-button
                fill="clear"
                slot="end"
                [id]="'modal-trigger-' + field.name"
                (click)="dateModal.present()"
              >
                <ion-icon
                  [name]="
                    field.typeFieldForm === eFieldDynamicForm.TIME
                      ? 'timer-outline'
                      : 'calendar-outline'
                  "
                ></ion-icon>
              </ion-button>

              <!--  DATE TIME MODAL -->
              <ion-modal
                #dateModal
                [keepContentsMounted]="true"
                [breakpoints]="[0, 0.7, 1.0]"
                [initialBreakpoint]="0.9"
              >
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title
                        [style.color]="
                          field.titleColorModalDate ||
                          'var(--ion-color-primary)'
                        "
                        [style.font-size]="
                          field.titleFontSizeModalDate || '16px'
                        "
                        >{{ field.inputLabel }}</ion-title
                      >
                      <ion-buttons slot="end">
                        <ion-button
                          (click)="dateModal.dismiss('cancel')"
                          [style.color]="
                            field.buttonColorModalDate ||
                            'var(--ion-color-primary)'
                          "
                          [style.font-size]="
                            field.buttonFontSizeModalDate || '12px'
                          "
                          >Selecionar</ion-button
                        >
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content
                    class="ion-padding ion-padding ion-justify-content-center"
                    [style.display]="'flex'"
                  >
                    <ion-datetime
                      [formControlName]="field.name"
                      [presentation]="typeDataShowModalDate"
                      [locale]="'pt-BR'"
                      (ionChange)="
                        field.onChange &&
                          field.onChange($event.detail.value, form)
                      "
                    ></ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-modal>
              }

              <!-- logica olho para mostrar ou nao senha e caso nao seja password mostrar o icone desejado-->
              @else if (dynamicIconName) {
              <ion-button
                fill="clear"
                slot="end"
                (click)="
                  isPasswordField
                    ? togglePasswordIconVisibility(field)
                    : field.onAddOnIconClick && field.onAddOnIconClick(form)
                "
              >
                <ion-icon
                  slot="icon-only"
                  [name]="dynamicIconName"
                  [style.margin-left]="field.iconMarginLeft || '0.25rem'"
                  [style.font-size]="field.iconFontSize || '13px'"
                  [style.color]="field.iconColor || 'var(--ion-color-primary)'"
                ></ion-icon>
              </ion-button>
              }
            </ion-input>
          </ion-row>

          @if (field.showButtonOneDownInput || field.showButtonTwoDownInput) {

          <!--  -->
          @let sizeColumnDefault = (!field.sizeColumnButtonOneDownInput &&
          !field.sizeColumnButtonTwoDownInput) && (!field.showButtonOneDownInput
          || !field.showButtonTwoDownInput) ? 12 : null;

          <ion-row [style.width]="'100%'">
            <!-- vars button one -->
            @if(field.showButtonOneDownInput){
            <!--  -->
            @let sizeColumnButtonOne = field.sizeColumnButtonOneDownInput || 6;
            <!--  -->
            @let paddingLeftButtonOne = field.paddingLeftButtonOneDownInput ||
            '5px';
            <!--  -->
            @let justifyContentButtonOne =
            field.justifyContentButtonOneDownInput || 'flex-start';
            <!--  -->
            @let linkButtonOneDownInput = field.linkButtonOneDownInput;
            <!--  -->
            @let fontSizebuttonOneDownInput = field.fontSizebuttonOneDownInput
            || '10px';
            <!--  -->
            @let colorTextbuttonOneDownInput = field.colorTextbuttonOneDownInput
            || 'var(--ion-color-primary)';
            <!--  -->

            <ion-col
              [size]="sizeColumnDefault || sizeColumnButtonOne"
              [style.padding]="'0'"
              [style.padding-left]="paddingLeftButtonOne"
              [style.display]="'flex'"
              [style.justify-content]="justifyContentButtonOne"
            >
              <ion-button
                class="buttonDownInput"
                fill="clear"
                [routerLink]="linkButtonOneDownInput"
                [style.font-size]="fontSizebuttonOneDownInput"
                [style.padding]="'0'"
                [style.color]="colorTextbuttonOneDownInput"
              >
                {{
                  field.textButtonOneDownInput ||
                    "enviar texto do botão 1 abaixo do input"
                }}
              </ion-button>
            </ion-col>
            }

            <!-- vars button 2 -->
            @if(field.showButtonTwoDownInput){
            <!--  -->
            @let sizeColumnButtonTwo = field.sizeColumnButtonTwoDownInput || 6;
            <!--  -->
            @let paddingRightButtonTwo = field.paddingLeftButtonTwoDownInput ||
            '5px';
            <!--  -->
            @let justifyContentButtonTwo =
            field.justifyContentButtonTwoDownInput || 'flex-end';
            <!--  -->
            @let linkButtonTwoDownInput = field.linkButtonTwoDownInput;
            <!--  -->
            @let fontSizebuttonTwoDownInput = field.fontSizebuttonTwoDownInput
            || '10px';
            <!--  -->
            @let colorTextbuttonTwoDownInput = field.colorTextbuttonTwoDownInput
            || 'var(--ion-color-primary)';
            <!--  -->

            <ion-col
              [size]="sizeColumnDefault || sizeColumnButtonTwo"
              [style.padding]="'0'"
              [style.padding-right]="paddingRightButtonTwo"
              [style.display]="'flex'"
              [style.justify-content]="justifyContentButtonTwo"
            >
              <ion-button
                class="buttonDownInput"
                fill="clear"
                [routerLink]="linkButtonTwoDownInput"
                [style.font-size]="fontSizebuttonTwoDownInput"
                [style.padding]="'0'"
                [style.color]="colorTextbuttonTwoDownInput"
              >
                {{
                  field.textButtonTwoDownInput ||
                    "enviar texto do botão 2 abaixo do input"
                }}
              </ion-button>
            </ion-col>
            }
          </ion-row>

          }
          <!-- fim if eDynamicField.INPUT -->
          }

          <!-- TEXTAREA -->
          @if (field.typeFieldForm === eFieldDynamicForm.TEXTAREA) {

          <!--  -->
          @let paddingStart = field.paddingStart ? field.paddingStart :
          field.borderRadius ? field.borderRadius : '20px';

          <!--  -->
          @let boderColorInput = field.boderColorInput ||
          'var(--ion-color-primary)';

          <!--  -->
          @let boderWidthInput = field.boderWidthInput || '1px';

          <!--  -->
          @let colorLabelPlaceholderAndTextInput =
          field.colorLabelPlaceholderAndTextInput || 'var(--ion-color-primary)';

          <ion-textarea
            mode="md"
            [formControlName]="field.name"
            [rows]="field.textAreaRows || 4"
            [placeholder]="field.placeholder"
            [fill]="field.fill"
            [label]="field.inputLabel"
            [attr.label-placement]="field.labelPlacement"
            [style.--border-radius]="field.borderRadius"
            [style.--padding-start]="paddingStart"
            [style.--background]="field.backgroundInput"
            [style.--border-color]="boderColorInput"
            [style.--border-width]="boderWidthInput"
            [style.--color]="colorLabelPlaceholderAndTextInput"
            [style.--padding-top]="'20px'"
            [style.--padding-bottom]="'20px'"
            [style.margin-top]="field.marginTop || '15px'"
          ></ion-textarea>
          }

          <!-- TOGGLE (substitui o SWITCH) -->
          @if (field.typeFieldForm === eFieldDynamicForm.SWITCH) {
          <div
            class="toggle-container"
            [style.border-radius]="field.borderRadius"
            [style.margin-top]="field.marginTop"
            [style.background]="
              field.backgroundItem ||
              'color-mix(in srgb, var(--ion-color-primary), white 96%)'
            "
          >
            <div class="toggle-label">
              <ion-label
                [style.margin-bottom]="field.marginBottom || '0.5rem'"
                [style.margin-left]="field.toggleLabelMarginLeft || '0.2rem'"
                [style.font-size]="field.toggleLabelFontSize || '16px'"
                [style.color]="
                  field.toggleLabelColor || 'var(--ion-color-primary)'
                "
                >{{ field.toggleLabel }}</ion-label
              >
              @if (field.toggleNote) {
              <ion-note
                [style.margin-left]="field.toggleNoteMarginLeft || '0.3rem'"
                [style.font-size]="field.toggleNoteFontSize || '12px'"
                [style.color]="
                  field.toggleNoteColor || 'var(--ion-color-primary)'
                "
                >{{ field.toggleNote }}</ion-note
              >
              }
            </div>
            <ion-toggle
              slot="end"
              [formControlName]="field.name"
              (ionChange)="
                field.onChange && field.onChange($event.detail.checked, form)
              "
            ></ion-toggle>
          </div>
          }

          <!-- SELECT -->
          @if (field.typeFieldForm === eFieldDynamicForm.SELECT) {
          <ion-select
            mode="md"
            interface="popover"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
            [multiple]="field.select?.mode === 'multiple'"
            (ionChange)="
              field.onChange && field.onChange($event.detail.value, form)
            "
            (ionFocus)="field.onOpenChange && field.onOpenChange(true, form)"
            (ionBlur)="field.onOpenChange && field.onOpenChange(false, form)"
            [fill]="field.fill"
            [label]="field.inputLabel"
            [attr.label-placement]="field.labelPlacement"
            [autofocus]="field.autofocus"
            [style.--border-radius]="field.borderRadius"
            [style.--padding-start]="
              field.paddingStart
                ? field.paddingStart
                : field.borderRadius
                ? field.borderRadius
                : '0.9rem'
            "
            [style.color]="field.selectColor || 'var(--ion-color-primary)'"
            [style.--border-color]="
              field.selectBorderColor || 'var(--ion-color-primary)'
            "
            [style.--background]="
              field.selectBackground ||
              'color-mix(in srgb, var(--ion-color-primary), white 96%)'
            "
          >
            @for (option of field.select?.options; track option.value) {
            <ion-select-option
              [value]="option.value"
              [disabled]="option.disabled"
            >
              @if (option.icon) {
              <ion-icon
                [name]="option.icon"
                slot="start"
                [style.color]="
                  field.selectOptionIconColor || 'var(--ion-color-primary)'
                "
                [style.font-size]="field.selectOptionIconFontSize || '1rem'"
              ></ion-icon>
              } {{ option.label }}
            </ion-select-option>
            } @for (option of field.select?.options$ | async; track
            option.value) {
            <ion-select-option [value]="option.value">
              {{ option.label }}
            </ion-select-option>
            }
          </ion-select>
          }

          <!-- CHECKBOX -->
          @if (field.typeFieldForm === eFieldDynamicForm.CHECKBOX) {
          <ion-item
            mode="md"
            class="itemCheckbox itemMainForm"
            [lines]="field.ionItemNoneLines"
            [class.itemCheckboxWithFill]="field.fill"
            [style.border-radius]="field.borderRadius"
            [style.width]="'100%'"
            [style.margin-top]="field.marginTop || '10px'"
          >
            <ion-checkbox
              [formControlName]="field.name"
              (ionChange)="
                field.onChange && field.onChange($event.detail.checked, form)
              "
              [style.background]="
                'color-mix(in srgb, var(--ion-color-primary), white 96%)'
              "
              [style.padding-left]="field.paddingLeft || '20px'"
              [style.padding-right]="field.paddingStart || '20px'"
              [style.color]="
                field.textCheckBoxColor || 'var(--ion-color-primary)'
              "
              [style.--border-color]="
                field.checkBorderCheckBoxColor || 'var(--ion-color-primary)'
              "
              [style.--checkbox-background-checked]="
                field.checkedCheckBoxColor || 'var(--ion-color-primary)'
              "
              [style.padding-top]="field.paddingTop || '12px'"
              [style.padding-bottom]="field.paddingBottom || '12px'"
              [style.--border-radius]="field.chechBoxIconBorderRadius || '4px'"
            >
              {{ field.labelItemTop || field.inputLabel }}
            </ion-checkbox>
          </ion-item>
          }

          <!-- RADIO -->
          @if (field.typeFieldForm === eFieldDynamicForm.RADIO) {

          <ion-item
            mode="md"
            class="itemMainForm"
            [style.margin-top]="field.radioItemMarginTop || '10px'"
            [lines]="field.radioItemNoneLines"
            [style.border-radius]="field.radioItemborderRadius"
            [style.--background]="
              field.backgroundRadioItem ||
              'color-mix(in srgb, var(--ion-color-secondary), white 96%)'
            "
            [class.itemCheckboxWithFill]="field.fill"
            [style.border-color]="'transparent'"
            [style.width]="'100%'"
          >
            <p
              [style.width]="'100%'"
              [style.padding-left]="field.titleRadioMarginLeft || '20px'"
              [style.padding-right]="field.titleRadioMarginRight || '20px'"
              [style.margin-top]="field.titleRadioMarginTop || '30px'"
              [style.color]="
                field.textRadioTitleColor || 'var(--ion-color-primary)'
              "
              [style.text-align]="field.textRadioTitleTextAlign || 'start'"
            >
              {{ field.inputLabel }}
            </p>

            <ion-radio-group
              value="end"
              [formControlName]="field.name"
              [style.width]="'100%'"
              [style.padding-bottom]="'20px'"
              [style.--radio-custom-border-color]="
                field.borderColorRadioCheck || 'var(--ion-color-primary)'
              "
              [style.--radio-custom-background-color]="
                field.backgroundColorRadioCheck || 'var(--ion-color-primary)'
              "
              [style.--borderRadiusCheckCustom]="
                field.BorderRadiusradioCheck || '4px'
              "
            >
              @for (option of field.select?.options; track option.value) {

              <ion-item
                mode="md"
                lines="none"
                [style.padding-right]="'20px'"
                [style.padding-left]="'20px'"
                [style.--background]="'transparent'"
              >
                <ion-label
                  [style.color]="
                    field.textOptionRadioColor || 'var(--ion-color-primary)'
                  "
                >
                  {{ option.label }}
                </ion-label>

                <ion-radio
                  justify="end"
                  [value]="option.value"
                  (ionChange)="
                    field.onChange &&
                      field.onChange($any($event).detail.value, form)
                  "
                ></ion-radio>
              </ion-item>

              }
            </ion-radio-group>
          </ion-item>

          }

          <!-- hint tag - dica para usuario o que faz o campo -->
          @if (field.hint) {
          <ion-note
            [style.margin-left]="field.hintMarginLeft || '0.3rem'"
            [style.font-size]="field.hintFontSize || '10px'"
            [style.color]="field.hintColor || 'var(--ion-color-primary)'"
            >{{ field.hint }}</ion-note
          >
          }

          <!-- error -->
          @if (form.controls[field.name]?.errors &&
          (form.controls[field.name]?.touched ||
          form.controls[field.name]?.dirty)) {
          <ion-note
            color="danger"
            [style.margin-left]="field.hintMarginLeft || '0.3rem'"
          >
            {{ getErrorMessage(form.controls[field.name].errors) }}
          </ion-note>
          }
        </ion-item>

        <!--  -->
        }
      </ion-col>
      }
      <!-- fim loop com os campos enviados na configuracao do formulario -->
    </ion-row>
  </ion-grid>
</form>
}
