<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="end">
      <!-- Botão para remover o vídeo -->
      <ion-button (click)="removeVideo()" color="danger">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>

      <!-- Botão para fechar o modal -->
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<video
  [src]="videoUrl"
  preload="metadata"
  alt="Video Preview"
  class="preview-video"
  controls
  autoplay
  muted="true"
  loop="true"
  aria-label="Pré-visualização do Vídeo"
></video>
