/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-toast.custom-toast {
  --background: #f4f4fa;
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: var(--ion-color-secondary);
}

ion-toast.custom-toast::part(message) {
  font-style: italic;
}

ion-toast.custom-toast::part(button) {
  border-left: 1px solid var(--cor-cinza-claro);
  color: var(--ion-color-secondary);
  font-size: 15px;
}

ion-alert .alert-wrapper {
  --min-width: 80dvw;
}

.custom-alert {
  border-radius: 20px;

  .alert-button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .alert-button-1,
  .alert-button-2,
  .alert-button-1-full {
    margin: 10px 0;
    justify-content: center;
    border-radius: 10px;
  }

  .alert-button-1-full {
    width: 100%;
    background-color: var(--ion-color-secondary);
    color: var(--cor-branco);
    display: grid;
  }

  .alert-button-1 {
    width: 48%;
    background-color: var(--ion-color-secondary);
    color: var(--cor-branco);
    display: grid;
  }

  .alert-button-2 {
    width: 48%;
    background-color: var(--cor-branco);
    color: var(--ion-color-secondary);
    display: grid;
    border: 1px solid var(--ion-color-secondary);
  }

  .alert-head {
    h2 {
      color: var(--ion-color-secondary);
      font-weight: 700;
    }

    text-align: center;
    width: 100%;
  }

  .alert-wrapper {
    border-radius: 12px;
    padding: 10px;
  }
}

/* ====== Estilos personalizados para o ion-alert do ion-select ====== */
.select-alert {
  .alert-button,
  .alert-radio-button[aria-checked="true"] .alert-radio-inner,
  .alert-radio-button[aria-checked="true"] .alert-radio-icon,
  .alert-radio-label.sc-ion-alert-md,
  .alert-radio-label.sc-ion-alert-ios,
  .alert-title.sc-ion-alert-md,
  .alert-checkbox-icon.sc-ion-alert-md,
  .alert-checkbox-label.sc-ion-alert-md {
    color: var(--ion-color-secondary) !important;
    border-color: var(--ion-color-secondary) !important;
  }

  /* Botão Cancelar (fica vermelho) */
  .alert-button-role-cancel {
    color: color-mix(in srgb, var(--ion-color-danger), white 20%) !important;
  }
}

//para o popver do ion select
ion-select-popover {
  ion-list {
    --background: var(--ion-background-color, #fff);
  }

  /* Cor do texto das opções */
  ion-radio,
  ion-item {
    color: var(--ion-color-secondary) !important;
  }

  /* Cor da borda e preenchimento do check (radio) */
  ion-radio {
    --color: var(--ion-color-secondary) !important;
    --color-checked: var(--ion-color-secondary) !important;
    --border-color: var(--ion-color-secondary) !important;
  }

  /* Quando selecionado */
  ion-radio[aria-checked="true"] {
    --color: var(--ion-color-secondary) !important;
    --color-checked: var(--ion-color-secondary) !important;
  }

  ion-checkbox {
    --checkmark-color: var(--cor-branco) !important;
    --background-checked: var(--ion-color-secondary) !important;
    --border-color: var(--ion-color-secondary) !important;
    --border-color-checked: var(--ion-color-secondary) !important;
  }

  /* Hover / ativo */
  ion-item:hover {
    background-color: rgba(0, 128, 0, 0.08); /* leve tom verde */
  }
}
// fim dos estilos globais do ion-select

// //SOLUÇÃO REAL E GARANTIDA (funciona no Ionic 6 e 7)

//parte modal video e imagem
ion-modal.custom-modal {
  margin-top: 5px;
  border-radius: 30px;
}

ion-modal.custom-modal ::part(content) {
  width: 100% !important;
  height: 90% !important;

  margin-top: 20%;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0 !important; /* Garantir que a base seja reta */
  border-bottom-right-radius: 0 !important; /* Garantir que a base seja reta */

  box-shadow: none !important;
  overflow: visible !important;

  --offset-y: 0 !important;
}
////////////////////////////////////////////////////////////////////
///
///
//////////// parte modal documents
// //SOLUÇÃO REAL E GARANTIDA (funciona no Ionic 6 e 7)
ion-modal.custom-modal-documents::part(content) {
  width: 100% !important;
  height: 100% !important;

  margin-top: 40px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0 !important; /* Garantir que a base seja reta */
  border-bottom-right-radius: 0 !important; /* Garantir que a base seja reta */

  box-shadow: none !important;
  overflow: visible !important;

  --offset-y: 0 !important;
}
